

.mdl-mini-footer {
    background-color: #0D47A1;
    color: white;
    transition: background-color 0.5s;
}
    .mdl-mini-footer li:hover {
        text-decoration: underline;
        transition: text-decoration 1s;  
    }
.mdl-logo {
    color: black;
}
.mdl-logo {
    color: white;
}