.create-event-container {
    display: flex;
    margin: 10% auto;
    width: 50%;
    flex-direction: column;
    border: 3px solid grey;
    border-radius: 7px;
    overflow: auto;
}

.createTitle {
    background-color: #BD955A;
    color: white;
    padding-left: 30px;
}

.requestForm {
    width: 90%;
    margin: 20px auto;
}

.datePicker {
    margin-left: 2em;
    margin-top: 1em;
    display: inline-block;
    margin-left: 2em;
}
.eventTitle {
    margin-top: 2em !important;
    margin-left: 2em !important;
}

.description {
    margin-top: 2em !important;
    margin-left: 2em !important;
}

.submit {
    margin-top: 2em !important;
    float: left;
}