.eventItem {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-template-areas: "date description";
  background-color: rgba(203, 203, 204, 0.822);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
  border-radius: 5px;
}

.date {
  grid-area: date;
  text-align: center;
  padding: 5px;
}

.date-number {
  font-size: 26pt;
  margin: 10px;
}

.date-name {
  margin: 10px;
  font-size: 20pt;
}

.event-title {
  font-size: 12pt;
}

.eventItem {
  background-color: #8b6464;
}

.eventItem > .description {
  grid-area: description;
  margin: 10px !important;
  overflow: visible;
}

.addButton {
  float: right;
}

.approveButtons {
  float: right;
  display: inline-block;
  margin-right: 2em;
}
