.title {
    margin-left: 2em;
}

.requestForm {
    margin-left: 2em;
    display: block;
    position: center;
}

.datePicker {
    margin-left: 2em;
    display: inline-block;
    margin-left: 2em;
}
.title {
    margin-top: 2em !important;
    margin-left: 2em !important;
}

.description {
    margin-top: 2em !important;
    margin-left: 2em !important;
}

.submit {
    margin-top: 2em !important;
    float: left;
}