/* width */
.styleScroll::-webkit-scrollbar {
    width: 4px;
    height: 24px;
}

.styleScroll::-webkit-scrollbar:hover {
    width: 8px;
}

/* Track */
.styleScroll::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Handle */
.styleScroll::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    min-height: 24px;
    max-height: 24px;
}

/* Handle on hover */
.styleScroll::-webkit-scrollbar-thumb:hover {
    background-color: #757575;
}

