#Login {
    background: url(LoginBackground.jpg) no-repeat center center fixed; 
    background-size: cover;
    min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
 
  }

.LoginBar{
    background-color: maroon;
    float: left; 
    position: absolute;
    top: 20;
    bottom: 20;
}

.LoginContent{
    color: white;
    padding-top:10em;
}
.form-group{
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
}

.btn{
    border-color: white;
}

.newAccount{
    padding: 3em;
}