

.drawer-header {
    height: 150px;
    width: 100%;
    cursor: pointer;
    margin-top: 0px;
    padding: 8px;
}
.view-profile-button {
    right: 0px;
    margin-right: 8px;
}
.profile-container {
    text-align: right;
}
.sub-heading-container {
    margin-top: 64px;
}
