.mdl-layout__header {
  background-color: #800029;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mdl-layout__header-row{
  padding: 0 0 0 0;
}

.mdl-layout__header > .material-icons {
  margin-right: 8px;
  color: white;
}
.cursor {
  cursor: pointer;
}
.progress-bar {
  width: 100%;
  height: 24px;
  display: none;
}
.header-nav {
  float: right;
}

.large-icon {
  width: 24px;
  height: 24px;
}
.large-icon-button {
  height: 48px;
  width: 48px;
}
.mdl-menu .material-icons {
  color: black;
}
.mdl-navigation__link:hover {
  text-decoration: underline;
  transition: text-decoration 1s;
}

.logo {
  alignment: left;
}