.profile-item-container, .profile-item-title-row {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
}
.profile-item-title-row {
    padding: 8px 4px 8px 4px;
}
.profile-item-container {
    padding: 12px 4px 12px 4px;
}
.profile-item-wrapper:hover {
    background-color: #ECEFF1;
}
.profile-item-title-row {
    margin-bottom: 8px;
}