.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1.4fr;
  grid-template-areas:
    "main-carousel main-carousel"
    "main-calendar main-events";
}

.main-carousel {
  grid-area: main-carousel;
  margin: 0 auto;
}

.main-events {
  background-color: white;
  border-top: groove;
  grid-area: main-events;
  overflow: scroll;
  height: 72.5em;
}

.events > h3 {
  margin: 15px;
}

.events {
  margin: 15px;
}

.main-calendar {
  background-color:  white;
  border-right: groove;
  border-top: groove;
  grid-area: main-calendar;
  height: 72.5em;
  overflow: visible;
}

.calender {
  margin: 15px;
}
