.action-links-container {
    margin-top: 16px;
}
.form-title-icons {
    margin-right: 8px;
    font-size: 24px;
    margin-bottom: 16px;
    color: deepskyblue;
}
.form .mdl-grid .mdl-cell {
    padding: 16px;
}
.form .mdl-grid {
    min-height: 80%;
}
.change-background:hover {
    background: #F5F5F5;
}
.change-background, .change-form-background {
    background: #FAFAFA;
}
.change-form-background:hover {
    padding-top: 8px;
    padding-bottom: 8px;
    background: white;
}
.label {
    color: #BDBDBD;
}
