

.itemsContainer {
   width: 90%;
   margin: 24px auto;
   background-color: white;
   padding-bottom: 16px;
}
.itemsWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}
.itemsContainer h4 {
    text-align: center;
    padding: 32px 16px;
    background-color: #1565C0;
    color: white;
}
.attachedItemsContainer {
    width: 100%;
    background-color: white;
    padding-bottom: 8px;
}
