

.mdl-menu__item {
    font-size: 16px;
}

.drawer-text {
    font-size: 16px;
}

.full {
    height: 100%;
    width: 100%;
}
#content-div {
    min-height: 85%;
}
a {
    text-decoration: none;
}


.material-icons {
    margin-right: 8px;
}

.center {
    margin-right: auto;
    margin-left: auto;
}
