.ProfileViewTabbedLayout > .item-title {
    padding: 24px 16px 16px 16px;
    font-size: 24px;
}

.ProfileViewTabbedLayout {
    min-height: 85%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.ProfileViewTabbedLayout-options {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 16px;
    background-color: #EEEEEE;
}

.ProfileViewTabbedLayout-contents {
    width: 90%;
    margin: 16px;
}