.action-links-container {
    margin-top: 16px;
}

.change-background:hover {
    background: #F5F5F5;
}
.change-background, .change-form-background {
    background: #FAFAFA;
}
.change-form-background:hover {
    padding-top: 8px;
    padding-bottom: 8px;
    background: white;
}
.label {
    color: #BDBDBD;
}

