.message-wrapper {
    padding: 16px;
    background-color: #B3E5FC;
    color: black;
    display: grid;
    grid-template-columns: 80% 20%;
}
.message-box {
    font-size: 18px;
    padding-top: 8px;
}