.create-group-container {
  display: flex;
  margin: 10% auto;
  width: 50%;
  flex-direction: column;
  border: 3px solid grey;
  border-radius: 7px;
  overflow: auto;
}
.createGroupTitle {
  background-color: #bd955a;
  color: white;
  padding-left: 30px;
}
