.group-name {
  text-align: center;
  flex-basis: 100%;
}

.group-name > h2 {
  margin-top: 40px;
}

.group-events {
  flex-basis: 66%;
  height: 40em;
}

.group-events > h3 {
  margin-left: 15px;
}

.group-members {
  border: solid;
  border-radius: 7px;
  flex-basis: 33%;
}

.group-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
