.group-view {
  justify-content: center;
}

.group-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-around;
}

.my-groups-select {
  order: 1;
  margin: auto;
  flex-basis: 30%;
}

.group-name {
  text-align: center;
  color: maroon;
  font-weight: bold;
  order: 2;
  flex-basis: 30%;
}

.group-options {
  order: 3;
  flex-basis: 30%;
  margin: auto;
  text-align: right;
}

.group-events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  background-color: #bd955a;
  border-radius: 7px;
  margin: 20px;
}

.group-events-list-header {
  flex-basis: 85%;
  margin-left: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
}

.buttons-group-events,
.buttons-group-members {
  flex-basis: 10%;
  min-width: 15%;
  padding: 24px;
}

.group-event-list {
  flex-basis: 100%;
}

.list-header {
  margin-left: 30px;
  width: 80%;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
}

.group-members {
  margin: 20px;
  overflow: auto;
  background-color: rgb(100, 101, 105);
  border-radius: 7px;
}
