.group-view {
  justify-content: center;
}

.my-groups-select {
  display: inline-block;
  padding: 30px 0;
}

.group-name {
  text-align: center;
  padding: 30px 0;
  display: inline-block;
  color: maroon;
  font-weight: bold;
}

.group-events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  background-color: #bd955a;
  border-radius: 7px;
  margin: 15px;
}

.group-events-list-header {
  flex-basis: 85%;
  margin-left: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
}

.buttons-group-events {
  flex-basis: 10%;
  min-width: 10%;
  padding: 24px;
}

.group-event-list {
  flex-basis: 100%;
}

.list-header {
  margin-left: 30px;
  width: 80%;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
}

.group-members {
  margin: 15px;
  overflow: auto;
  background-color: rgb(100, 101, 105);
  border-radius: 7px;
}
