
.eventListItem {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-template-areas: "date description";
  border: solid orange;
  background-color: rgba(203, 203, 204, 0.822);
}

.date {
  grid-area: date;
  text-align: center;
  padding: 5px;
}

.date-number {
  font-size: 26pt;
  font-weight: bold;
  border: solid blue;
  margin: 5px;
}

.date-name {
  margin: 5px;
  font-weight: bold;
  font-size: 20pt;
  border: solid violet;
}

.description {
  grid-area: description;
  border: solid red;
}
