.eventList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "date description description description";
  overflow: auto;
  padding: 10px;
}

.description {
  grid-area: description;
  justify-content: center;
  margin: 10px;
}

.date {
  grid-area: date;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: groove;
  justify-content: center;
  text-align: center;
}
