
.eventListItem {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-template-areas: "date description";
  background-color: rgba(203, 203, 204, 0.822);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
}

.date {
  grid-area: date;
  text-align: center;
  padding: 5px;
}

.date-number {
  font-size: 26pt;
  margin: 5px;
}

.date-name {
  margin: 5px !important;
  font-size: 20pt;
}

.eventListItem > .description {
  grid-area: description;
  margin: 5px !important;
  overflow: visible;
}