h6 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.slotRoot {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 20%;

}
.slotRoot .mdl-cell--11-col {
    padding-left: 8px;
}

.slotButtonIcon {
    margin-right: 8px;
    color: cornflowerblue;
}
.slotSubtitle .material-icons, .slotRoot .material-icons {
    color: #455A64;
}

.slotRoot .mdl-cell--1-col {
    display: flex;
    align-items: center;
}

.slotRoot .mdl-grid {
    background-color: white;
    font-weight: 400;

}



