.calendar-item-container, .calendar-item-title-row {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
}
.calendar-item-title-row {
    padding: 8px 4px 8px 4px;
    color: #800029 !important;
}
.calendar-item-container {
    padding: 12px 4px 12px 4px;
    color:black;
}
.calendar-item-wrapper:hover {
    background-color: #ECEFF1;
}
.calendar-item-title-row {
    margin-bottom: 8px;
}