

.date-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 14.3%);
    grid-auto-rows: 5em;
    grid-column-start: 3;
}
.day-names-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 14.3%);
    grid-auto-rows: minmax(2em, auto);
}
.date, .day-name {
    background-color: white;
    color: black;
    cursor: pointer;
}
.date:hover {
    background-color: #64B5F6;
    color: white;
    transition: background-color 0.5s;
}
.day-name {
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.calendar-header {
    justify-content: center;
    padding: 1%;
    color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #1565C0;
}
option {
    color: black;
}
.calendar-title {
    text-align: right;
    padding-right: 16px;
}
.calendar-container {
    background-color: white;
}
.calendar-wrapper {
    justify-content: center;
    position: relative;
    margin: 8px;
    width: 90%;
    margin: 16px auto;
}