/* Container holding the image and the text */
.container {
  bottom: 0%;
  position: relative;
  text-align: center;
  color: white;
}

.responsive{
  width: 100%;
  height: auto;
}

/* Bottom right text */
.text-block {
  display: grid;
  grid-template-columns:  0.2fr 1.7fr;
  grid-template-areas: "date description";
  position: left;
  bottom: 20%;
  left: 40px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  text-align: left;
}

.description {
  grid-area: description;
  margin: 10px !important;
  overflow: visible;
}

.date {
  grid-area: date;
  text-align: left;
  padding: 5px;
}

.date-number {
  font-size: 26pt;
  margin: 10px;
}

.date-name {
  margin: 10px;
  font-size: 20pt;
}

.event-title {
  font-size: 20pt;
}